
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Teko', sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: #030712;
  color: #ffffff;
}

html {
  font-size: 130.5%; /* entspricht ca. 18px statt 16px Basis */
}

textarea::-webkit-scrollbar {
  display: none;
}

textarea {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}